[submodule "emacs.d/co/popwin-el"]
	path = emacs.d/co/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "emacs.d/co/coffee-mode"]
	path = emacs.d/co/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "emacs.d/co/rinari"]
	path = emacs.d/co/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "emacs.d/co/rhtml"]
	path = emacs.d/co/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "emacs.d/co/rvm"]
	path = emacs.d/co/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "emacs.d/co/zencoding"]
	path = emacs.d/co/zencoding
	url = https://github.com/rooney/zencoding.git
